{% extends "base.html.twig" %}

{% block body %}

            <div class="jumbotron">
                <div class="col-md-18">
                    <div class="col-md-8">
                        <div class="campaign-img-contain" id="loadImage">
                            <img class="campaign-img defaultLoadImage" width="300" height="350"
                                 src="{{ asset('uploads/campaign/') }}{{ campaignGallary[0].path }}">
                        </div>

                    </div><br/>

                    <div class="col-md-8">
                        {% for gallary in  campaignGallary  %}
                        <div class="campaign-img-contain">
                            <img class="thumbnail"
                                 onclick="loadImage('{{ asset('uploads/campaign/') }}{{ gallary.path }}')"
                                 style="float: left;width: 150px ;height: 150px;" src="{{ asset('uploads/campaign/') }}{{ gallary.path }}">
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-8">
                        {{ campaign.description }}

                    </div>



                    <div class="col-md-8">
                        {% set videoUrl = campaign.campaignVideoUrl |split('/') %}
                        {% if videoUrl[3] is defined %}
                        <iframe width="420" height="345" src="https://www.youtube.com/embed/{{ videoUrl[3] }}">
                        </iframe>
                        {% endif %}
                    </div>

                </div>

                <div class="col-md-18">

                  {#  <div class="fb-share-button" data-href="{{ app.request.getUri }}"
                         data-layout="button_count" data-size="large" data-mobile-iframe="false">
                    </div>#}

                    <div class="fb-share-button" data-href="{{ app.request.getUri }}"
                         data-layout="button" data-size="large" data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" target="_blank" title="share on facebook"
                           href="http://www.facebook.com/sharer.php?s=100&p[title]=Share on Facebook"></a></div>
                </div>

                <div class="col-md-18">
                    <p>${{ campaign.amount }}</p>
                </div>
                 <div class="col-md-18">
                    <div class="fb-like" data-href="{{ app.request.getUri }}"
                         data-layout="standard" data-action="like" data-show-faces="true"
                         data-share="false">
                    </div>
                </div>

                <div class="col-md-18">
                    <div class="fb-comments"
                         data-href="{{ app.request.getUri }}"
                         data-numposts="5">

                    </div>
                </div>
            </div>


    {% stylesheets

    '@FOSCommentBundle/Resources/assets/css/comments.css'

    %}
    {{ parent () }}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}



{% endblock %}

 {% block javascriptBlock %}

     {{ parent() }}

     {% javascripts
     '@BundleAppBundle/Resources/public/js/facebook/socialite.js'
     '@BundleAppBundle/Resources/public/js/facebook/fbCustom.js'
     '@BundleAppBundle/Resources/public/js/image.js'
     %}
     <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}

 {% endblock javascriptBlock %}