{% extends "base.html.twig" %}

{% block body %}


            {#<div class="jumbotron">#}
    <div class="container">
        <div class="row">
                <div class="col-xs-6 col-md-8">
                    <div class="row1">

                        <div class="campaign-img-contain" id="loadImage">

                                 {% if campaignGallary[0] is defined %}
                                     <img class="campaign-img defaultLoadImage" width="300" height="400"
                                 src="{{ asset('uploads/campaign/') }}{{ campaignGallary[0].path }}">
                                {% else %}
                                    <img class="campaign-img defaultLoadImage" width="300" height="400"
                                         src="{{ asset('assets/img/people.png') }}">
                                {% endif %}
                        </div>
                        <h1>{{ campaign.title|default }}</h1>

                    </div>
                    <div class="row2">
                        {% for gallary in  campaignGallary  %}
                            <div class="campaign-img-contain">
                                <img class="thumbnail"
                                     onclick="loadImage('{{ asset('uploads/campaign/') }}{{ gallary.path }}')"
                                     style="float: left;width: 150px ;height: 150px;" src="{{ asset('uploads/campaign/') }}{{ gallary.path }}">
                            </div>
                        {% endfor %}
                    </div>
                    <div style="clear: both"></div>
                    <div class="row3">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#story" aria-controls="home" role="tab" data-toggle="tab">Story</a></li>
                            <li role="presentation"><a href="#update" aria-controls="update" role="tab" data-toggle="tab">Update</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active text-justify" id="story" >
                                {{ campaign.description }}
                               <div>
                                   {% set videoUrl = campaign.campaignVideoUrl |split('/') %}
                                   {% if videoUrl[3] is defined %}
                                       <iframe width="420" height="345" src="https://www.youtube.com/embed/{{ videoUrl[3] }}">
                                       </iframe>
                                   {% endif %}
                               </div>
                            </div>
                            <div role="tabpanel" class="tab-pane text-justify" id="update">
                                {% for index , campaignDetailInfo in campaignDetailList %}
                                    <div class="divider">
                                        <label><strong>Update</strong> {{ campaignDetailInfo.id }}</label>

                                        {% if app.user != null %}
                                        <span style="float: right"><a href="{{ path('campaign_detail_update',{id:campaignDetailInfo.id}) }}"
                                                 class="title btn btn-default">Edit</a>
                                        </span>
                                        {% endif %}
                                        <address>
                                            <strong>Created At</strong>: {{ campaignDetailInfo.createdDate|date('Y M d') }}<br>
                                        </address>
                                        {{ campaignDetailInfo.notes }}

                                        <div class="campaign-img-contain" id="loadImage">
                                            {% if campaignDetailInfo.path is not null %}

                                                <img class="campaign-img defaultLoadImage" width="300" height="350"
                                                     src="{{ asset('uploads/campaign/') }}{{ campaignDetailInfo.path }}">
                                            {% endif %}
                                        </div>

                                        {% set detailVideoUrl = campaignDetailInfo.campaignDetailVideoUrl |split('/') %}
                                        {% if detailVideoUrl[3] is defined %}
                                            <iframe width="420" height="345" src="https://www.youtube.com/embed/{{ detailVideoUrl[3] }}">
                                            </iframe>
                                        {% endif %}
                                    </div>
                                    <hr/>
                                {% endfor %}
                                {% if app.user %}
                                <fieldset>
                                    <legend>New Update Post: </legend>
                                <form class="form-horizontal" id="form-campaign" enctype="multipart/form-data"
                                      role="form" method="post" action="{{ path('campaign_detail_create',{id:campaign.id}) }}">

                                    <div class="col-md-8" style="margin-left: -72px">
                                        <div class="portlet-body">

                                            <div class="form-body">
                                                <div class="form-group">

                                                    <label class="col-md-3 col-sm-3 control-label">{{ form_label(form.notes) }}</label>
                                                    <div class="col-md-5 col-sm-5">
                                                        {{ form_widget(form.notes,{ 'attr': {'style':'width:665px;height:122px;'}}) }}
                                                        <span class="help-block">{{ form_errors(form.notes) }}</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 col-sm-3 control-label">Url</label>
                                                    <div class="col-md-5 col-sm-5">
                                                        {{ form_widget(form.campaignDetailVideoUrl,{ 'attr': {'style':'width:665px;'}}) }}
                                                        <span class="help-block">{{ form_errors(form.campaignDetailVideoUrl) }}</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 col-sm-3 control-label">{{ form_label(form.file) }}</label>
                                                    <div class="col-md-5 col-sm-5">
                                                        {{ form_widget(form.file) }}
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form_row(form._token) }}
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">

                                                        <button type="submit" id="campaign-detail-submit" class="btn green">Save</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                                    </fieldset>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row4">
                        <div class="fb-like" data-href="{{ app.request.getUri }}"
                             data-layout="standard" data-action="like" data-show-faces="true"
                             data-share="false">
                        </div>
                    </div>
                    <div class="row5">
                        <div class="fb-comments"
                             data-href="{{ app.request.getUri }}"
                             data-numposts="5">

                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    {% set totalDonationAmount = 0 %}
                    {% set count = 0 %}
                    {% for index , recentDonation in recentDonations %}
                        {% set count = count + index %}
                        {% set totalDonationAmount = totalDonationAmount + recentDonation.donateAmount %}
                    {% endfor %}
                    <div class="row1">
                        <strong>{{ totalDonationAmount }} BDT</strong> of {{ campaign.amount }} BDT goal
                        <p></p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100"
                                 style="width:{{ (totalDonationAmount * 100)/campaign.amount }}%">
                            </div>

                        </div>
                        {#<div class="raisedBy">Raised by {{ count }} people in 3 days</div>#}
                        <div style="clear: both"></div>
                    </div>

                    <div class="row3">
                        <a href="{{ path('donation_create',{id:campaign.id}) }}">
                        <div id="DonateBtn" style="width: 100%" class="btn btn-primary">
                            Donate Now
                        </div>
                        </a>
                    </div>
                    <div style="clear: both"><br/></div>
                    <div class="row2">
                    <div id="shareBtn" style="width: 100%" class="btn btn-primary clearfix">Share On Facebook</div>
                    </div>
                    <div style="clear: both"><br/></div>
                    <div class="row3">
                        <address>
                            Campaign By {{ campaign.createdBy.profile.fullname|default() }}.<br>
                            Created: {{ campaign.createdDate|date('F j, Y') }}<br>
                            Category: {{ campaign.category.title|default('N/A') }}<br>
                            {{ campaign.location.name|default('N/A')}}<br>
                            Bangladesh
                        </address>
                    </div>
                    <div class="link-bar row3">
                        Recent Donation
                    </div>
                    {% for recentDonation in recentDonations %}
                        <div class="row4">
                            <h3><p>{{ recentDonation.donateAmount|default }} BDT</p></h3>
                            <p>{% if recentDonation.anonymous == 1 %}Anonymous{% else %}
                                    {{ recentDonation.firstName|default }} {{ recentDonation.lastName|default }}{% endif %}</p>
                            <p>{{ recentDonation.notes|default }}</p>
                        </div>
                        <hr/>
                    {% endfor %}

                </div>
        </div>
    </div>
            {#</div>#}
    {% stylesheets

    '@FOSCommentBundle/Resources/assets/css/comments.css'

    %}
    {{ parent () }}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <script type="text/javascript">
        var shareUrl = '{{ app.request.getUri }}'
    </script>

{% endblock %}

 {% block javascriptBlock %}

     {{ parent() }}

     {% javascripts
     '@BundleAppBundle/Resources/public/js/facebook/socialite.js'
     '@BundleAppBundle/Resources/public/js/facebook/fbCustom.js'
     '@BundleAppBundle/Resources/public/js/image.js'
     %}
     <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}

 {% endblock javascriptBlock %}