<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %} FUND {% endblock %}</title>
        <!-- Bootstrap -->

        {% block stylesheets %}
            {% stylesheets
            'assets/css/bootstrap.min.css'
            'assets/css/app.css'
            'assets/css/datepicker.css'
            'assets/plugins/css/sidebar.css'
            filter ='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="/favicon.ico"/>

        {#<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"/>#}
    </head>
<body style="background-color: #f9faf5">
{% include "menu.html.twig" %}

    <!-- BEGIN PAGE CONTAINER -->
    <div class="page-container">
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
            <div class="container-fluid">

                    <!-- BEGIN PAGE BREADCRUMB -->
                    {#<ul class="page-breadcrumb breadcrumb">#}
                        {#<li>#}
                            {#<a href="#">Home</a><i class="fa fa-circle"></i>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="layout_blank_page.html">Features</a>#}
                            {#<i class="fa fa-circle"></i>#}
                        {#</li>#}
                        {#<li class="active">#}
                            {#Blank Page Layout#}
                        {#</li>#}
                    {#</ul>#}
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="portlet light">
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {% block body %}

                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->

            </div>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
<!-- BEGIN MODAL -->
    <div class="modal fade" id="ajax" tabindex="-1" role="basic">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% block modal1_body %}
                    <img src="{{ asset('assets/img/ajax-modal-loading.gif') }}" alt="" class="loading">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <a href="{{ path('campaign_individual_create') }}">
                                        <div class="campaign-stat">
                                            Individual Campaign
                                        </div>
                                    </a>
                                </div>

                                <div class="col-sm-4">
                                    {#<a  data-toggle="modal" href="{{ path('organization_create_ajax') }}" data-dismiss="modal" data-target="#myModal2" data-toggle="modal">#}
                                    <a  data-toggle="modal" href="javascript:;" data-dismiss="ajax" data-target="#myModal2" data-toggle="modal">
                                        <div class="campaign-stat">
                                            Organization Campaign

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="basic">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% block modal2_body %}
                        <img src="{{ asset('assets/img/ajax-modal-loading.gif') }}" alt="" class="loading">
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="basic">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% block modal3_body %}
                        <img src="{{ asset('assets/img/ajax-modal-loading.gif') }}" alt="" class="loading">
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{# test modal #}


<div class="modal fade" id="modal-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Modal 1</p>

                <a href="#modal-2" data-toggle="modal" data-dismiss="modal">Next ></a>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- #modal 2 -->
<div class="modal fade" id="modal-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Modal 2</p>

                <a href="#modal-1" data-toggle="modal" data-dismiss="modal">< Previous</a>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{# end test modal #}

<!-- END MODAL -->
    <!-- END PAGE CONTAINER -->
<script type="text/javascript">
    var tokenPhoneVerify = {{ app.user.Profile.confirmationTokenPhoneVerify| default("undefined") }};

    var tokenEmailVerify = {{ app.user.Profile.confirmationTokenEmailVerify|default("undefined") }};

</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    {% block javascriptBlock %}

        {% javascripts
        'assets/js/jquery.min.js'
        'assets/js/bootstrap.min.js'
        'assets/js/jquery.validate.js'
        'assets/plugins/js/metronic.js'
        'assets/js/bootstrap-datepicker.js'
        '@BundleAppBundle/Resources/public/js/campaign.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% endblock javascriptBlock %}

<script type="text/javascript">

    jQuery(document).ready(function () {

        {% block documentready %}
        $('.datepicker').datepicker();

        {% endblock %}
    });
</script>

</body>
</html>
