<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
<div class="row">
        <form class="form-horizontal" id="form-user-profile" role="form" method="post" action="{{ path('campaign_user-profile-verify') }}">

            <div class="col-md-12">
                <div class="portlet-body">

                    <div class="form-body">
                        <div class="verify-profile-for-campaign">
                            {% if user.profile.confirmationTokenEmailVerify == null %}
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label">{{ form_label(form.email) }}</label>
                                <div class="col-md-5 col-sm-5">
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control emailVal'} }) }}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label">{{ form_label(form.profile.PhoneNumber) }}</label>
                                <div class="col-md-5 col-sm-5">
                                    {{ form_widget(form.profile.PhoneNumber, { 'attr': {'class': 'form-control emailVal'} }) }}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="verified-profile-for-campaign">
                            {% if user.profile.confirmationTokenEmailVerify == null %}
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label">Email Verification Code</label>
                                <div class="col-md-5 col-sm-5">
                                    <input type="text" placeholder="verification email code" class="form-control emailVerificationCode" >
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label">Phone Verification Code</label>
                                <div class="col-md-5 col-sm-5">
                                    <input type="text" value="" placeholder="verification phone code" class="form-control phoneVerificationCode" >
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                {#<a class="btn default" href="{{ path('courtfee_list') }}">Cancel</a>#}
                                <button type="submit" id="verify-profile" class="btn green">Verify</button>
                                <button type="submit" id="verified-profile" class="btn green">Confirm</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>

