{% extends "layout.html.twig" %}

{% block body %}

<div class="row">
        <form class="form-horizontal" id="form-user-profile" role="form" method="post" action="">

            <div class="col-md-12">
                <div class="portlet-body">

                    <div class="form-body">
</br>
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label">{{ form_label(form.profile.fullName) }}</label>
                                <div class="col-md-5 col-sm-5">
                                    {{ form_widget(form.profile.fullName, { 'attr': {'class': 'form-control emailVal'} }) }}
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label">{{ form_label(form.email) }}</label>
                                <div class="col-md-5 col-sm-5">
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control emailVal'} }) }}
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            {#<div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label">{{ form_label(form.profile.PhoneNumber) }}</label>
                                <div class="col-md-5 col-sm-5">
                                    {{ form_widget(form.profile.PhoneNumber, { 'attr': {'class': 'form-control emailVal'} }) }}
                                    <span class="help-block"></span>
                                </div>
                            </div>#}
                        <div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label">{{ form_label(form.username) }}</label>
                                <div class="col-md-5 col-sm-5">
                                    {{ form_widget(form.username, { 'attr': {'class': 'form-control emailVal'} }) }}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        <div class="form-group">
                            <label for="{{ form.plainPassword.first.vars.id }}" class="col-md-3 col-sm-3 control-label required">
                                Password <span class="required">*</span>
                            </label>
                            <div class="col-md-5 col-sm-5">
                                <div class="input-icon right">

                                    {{ form_widget(form.plainPassword.first, {'attr': { 'class': 'form-control span6 m-wrap', 'data-required': '1', 'autocomplete' : 'off' , 'autofill' : 'off' }}) }}
                                    <span class="help-inline">{{ form_errors(form.plainPassword.first) }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.plainPassword.second.vars.id }}" class="col-md-3 col-sm-3 control-label required">
                                Confirm Password <span class="required">*</span>
                            </label>
                            <div class="col-md-5 col-sm-5">
                                <div class="input-icon right">

                                    {{ form_widget(form.plainPassword.second, {'attr': { 'class': 'form-control span6 m-wrap', 'data-required': '1' }}) }}
                                    <span class="help-inline">{{ form_errors(form.plainPassword.second) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" id="verify-profile" class="btn green">Update</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

{% endblock %}

 {% block javascriptBlock %}

     {{ parent() }}

     {% javascripts
     '@BundleAppBundle/Resources/public/js/campaign.js'
     '@BundleAppBundle/Resources/public/js/organization.js'
     %}
     <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}

 {% endblock javascriptBlock %}