{% extends "layout.html.twig" %}

{% block body %}
    <div class="wrapper-breadcrumb">

        <section id="breadcrumb" class="breadcrumb wpo-breadcrumb" style="background: #F0F0F0 url() no-repeat 0 0;">
            <nav class="container"><a href="/">Home</a>
                <div class="breadcrumb-name"><span><span class="current">{{ categoryTitle.title|default('') }}</span> </span></div>
            </nav>
        </section>
    </div>
    <div class="row">
        <!-- MAIN CONTENT -->
        <div id="wpo-content" class="col-xs-12 no-sidebar">
            <article id="post-2837" class="clearfix post-2837 page type-page status-publish hentry">

                <section class="wpb-container">
                    <div class="wpb-inner container">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="wpo-sidebar wpo-sidebar-left">
                                    <div class="sidebar-inner">

                                        <aside id="categories-9" class="widget  clearfix widget_categories"><h3 class="widget-title">CATEGORIES</h3>
                                            <ul>
                                                {% for category in categories %}
                                                    <li class="cat-item">
                                                        <a href="{{ path('campaign_category_based',{title:category.title}) }}"
                                                           class="{% if categoryTitle.title|default == category.title %}cat-active{% else  %}{% endif %}">
                                                            {{ category.title }} ( {% render url('campaign_count_categories_wise', {'id': category.id}) %} )
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                        </aside>

                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
                                <div class="widget-content">
                                    {% if campaigns %}
                                        {% for campaign in campaigns %}
                                            <div class="item-campaign col-lg-4 col-md-4 col-sm-6 col-xs-12">

                                                <div class="item-content item-campaign-wrapper">
                                                    <div class="entry-thumbnail text-center">
                                                        {% render url('campaign_get_image', {'id': campaign.id}) %}
                                                        <div class="donate-now">
                                                            <a href="{{ path('donation_create',{id:campaign.id}) }}" class="btn btn-slide">
                                                                Donate now
                                                            </a>
                                                        </div>
                                                        {% render url('campaign_get_successfull', {'id': campaign.id}) %}
                                                    </div>
                                                    <div class="campaign-main">
                                                        <ul class="campaign-status text-center">

                                                            <li class="campaign-raised">
                                                                <span class="label">Current</span>
                                                                 <span class="text">&#036;{{ campaign.amount|default('') }}</span>
                                                            </li>

                                                            <li class="campaign-funded">
                                                                {% render url('campaign_get_progress_bar', {'id': campaign.id}) %}
                                                            </li>

                                                            <li class="campaign-backers">
                                                                <span class="label">Backers</span>
                                                                <span class="text">{% render url('campaign_get_backers', {'id': campaign.id}) %}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="entry-title">
                                                        <a href="{{ path('campaign_detail',{id:campaign.id}) }}"
                                                           title="{{ campaign.title }}"><span>{{ campaign.title|default('N/A') }}</span></a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="desciption text-center">
                                                        {{ campaign.description|readmore(path('campaign_detail',{id:campaign.id}),40)}}
                                                    </div>
                                                    <div class="entry-author text-center">
                                                        <span>By</span> <strong> {{ campaign.createdBy.profile.fullName|default('N/A')}}</strong>
                                                    </div>

                                                </div>

                                            </div>

                                        {% endfor %}

                                    {% else %}
                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                            First create Campaign
                                        </div>
                                    {% endif %}
                                    <div style="clear: both;"></div>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                    {{ knp_pagination_render(campaigns) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--banner post-->
                <!--end banner post-->
            </article><!-- #post -->
        </div>
        <!-- //MAIN CONTENT -->
    </div>
{% endblock %}

